<div class="container fade-in fade-out">
    <h3>About</h3>
    <h5>Attributions</h5>
    <div>
        <ul>
            <li>
                weightlifting by Diego Naive from <a href="https://thenounproject.com/browse/icons/term/weightlifting/" target="_blank" title="weightlifting Icons">Noun Project</a> (CC BY 3.0)
            </li>
            <li>
                Graph by Ahmad Faiz Shofiyyulloh from <a href="https://thenounproject.com/browse/icons/term/graph/" target="_blank" title="Graph Icons">Noun Project</a> (CC BY 3.0)
            </li>
            <li>
                collection by Markus from <a href="https://thenounproject.com/browse/icons/term/collection/" target="_blank" title="collection Icons">Noun Project</a> (CC BY 3.0)
            </li>
            <li>
                Weight by Gregor Cresnar from <a href="https://thenounproject.com/browse/icons/term/weight/" target="_blank" title="Weight Icons">Noun Project</a> (CC BY 3.0)
            </li>
            <li>
                Exit by ProSymbols from <a href="https://thenounproject.com/browse/icons/term/exit/" target="_blank" title="Exit Icons">Noun Project</a> (CC BY 3.0)
            </li>
            <li>
                about by MRK from <a href="https://thenounproject.com/browse/icons/term/about/" target="_blank" title="about Icons">Noun Project</a> (CC BY 3.0)
            </li>
            <li>
                Settings by Suresh Savani from <a href="https://thenounproject.com/browse/icons/term/settings/" target="_blank" title="Settings Icons">Noun Project</a> (CC BY 3.0)
            </li>
            <li>
                CSS loader from <a href="https://loading.io/css/" target="_blank">LOADING.IO</a> (CC0 License)
            </li>
        </ul>
    </div>
</div>

@code {

}
