<div class="container fade-in fade-out">
    <div class="row">
        <h3>About</h3>        
        <div class="col-12">
            WorkoutTracker created by <a href="https://github.com/MegatronCupcakes" target="_blank">Dallas Howard</a>
        </div>
        <div class="col-12" style="margin-top: 2em;">
            <h5>Attributions</h5>
            <ul>
                <li>
                    <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" target="_blank">Blazor</a> is available under the <a href="https://github.com/dotnet/blazor/blob/master/LICENSE.txt" target="_blank">Apache License 2.0</a>
                </li>
                <li>
                    <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> is availble under the <a href="https://github.com/twbs/bootstrap/blob/main/LICENSE" target="_blank">MIT</a> License
                </li>
                <li>
                    <a href="https://www.chartjs.org/" target="_blank">Chart.js</a> is available under the <a href="https://github.com/chartjs/Chart.js/blob/master/LICENSE.md" target="_blank">MIT license</a>
                </li>
                <li>
                    weightlifting by Diego Naive from <a href="https://thenounproject.com/browse/icons/term/weightlifting/" target="_blank" title="weightlifting Icons">Noun Project</a> (CC BY 3.0)
                </li>
                <li>
                    Graph by Ahmad Faiz Shofiyyulloh from <a href="https://thenounproject.com/browse/icons/term/graph/" target="_blank" title="Graph Icons">Noun Project</a> (CC BY 3.0)
                </li>
                <li>
                    collection by Markus from <a href="https://thenounproject.com/browse/icons/term/collection/" target="_blank" title="collection Icons">Noun Project</a> (CC BY 3.0)
                </li>
                <li>
                    Weight by Gregor Cresnar from <a href="https://thenounproject.com/browse/icons/term/weight/" target="_blank" title="Weight Icons">Noun Project</a> (CC BY 3.0)
                </li>
                <li>
                    Exit by ProSymbols from <a href="https://thenounproject.com/browse/icons/term/exit/" target="_blank" title="Exit Icons">Noun Project</a> (CC BY 3.0)
                </li>
                <li>
                    about by MRK from <a href="https://thenounproject.com/browse/icons/term/about/" target="_blank" title="about Icons">Noun Project</a> (CC BY 3.0)
                </li>
                <li>
                    Settings by Suresh Savani from <a href="https://thenounproject.com/browse/icons/term/settings/" target="_blank" title="Settings Icons">Noun Project</a> (CC BY 3.0)
                </li>
                <li>
                    CSS loader from <a href="https://loading.io/css/" target="_blank">LOADING.IO</a> (CC0 License)
                </li>
            </ul>
        </div>
    </div>
</div>

@code {

}
