@using WorkoutTracker.DataAccess;
@inject IJSRuntime JsRuntime;

<div class="container fade-in fade-out">
    <h3>Export</h3>
    <div class="col-12">
        <table class="table table-borderless">
            <thead></thead>
            <tbody>
                <tr>
                    <td class="align-middle">export all data</td>
                    <td><div class="btn btn-outline-success" onclick="@HandleExportClick">export</div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@code {
    [CascadingParameter]
    public Dictionary<string, IndexedDb> Collections { get; set; }
    [CascadingParameter]
    public Action? ToggleSpinner { get; set; }

    private async void HandleExportClick()
    {
        if (ToggleSpinner != null) ToggleSpinner();
        var exported = await IndexedDb.Export(new List<string>(Collections.Keys), JsRuntime);              
        if (ToggleSpinner != null)
        {
            // display the spinner long enough so the user knows something happened
            await Task.Delay(1000);
            ToggleSpinner();                
        }
    }
}
