@using WorkoutTracker.DataAccess;
@using WorkoutTracker.Models;

<div class="container">
    <h3>Workout</h3>
    <p>perform a workout, yo!</p>

    <div class="col-12">
        @if (documents.Count == 0)
        {
            <div>you don't have any active workouts</div>
        }
        else
        {
            @foreach (var document in documents)
            {
                <div class="row listing">
                    <div class="row">
                        <div class="col-4">@document.Name</div>
                    </div>
                </div>
            }
        }        
    </div>    
</div>

@code {
    [CascadingParameter]
    public Dictionary<string, IndexedDb> Collections { get; set; }
    private List<Program> documents = new List<Program>();

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            RefreshUi();
        }
    }

    public async void RefreshUi()
    {
        var query = @"{}";
        documents = await Collections["programs"].Find<List<Program>>(query);
        StateHasChanged();
    }

}
