@page "/"
@inject IJSRuntime js;
@using System.Text.Json;
@using WorkoutTracker.DataAccess;
@using WorkoutTracker.Types;

<h3>Workout</h3>
<p>perform a workout, yo!</p>

@code {
    IndexedDb? indexedDb;

    protected override async void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            indexedDb = new IndexedDb(js, "programs");
        }
        if (indexedDb != null)
        {
            // This is "inelegant"... update so IndexedDb fires a ready event
            while (!indexedDb.Initialized)
            {
                await Task.Delay(100);
            }
            
            var query = @"{}";
            var programs = await indexedDb.Find<List<Program>>(query);
            
            foreach (Program program in programs)
            {
                await js.InvokeVoidAsync("console.log", $"program.Name: {program.Name}");
            }
            
            await js.InvokeVoidAsync("console.log", $"I did a thing! program: \"{JsonSerializer.Serialize(programs)}\"");
        }
    }    
}
