@inherits LayoutComponentBase
@inject IJSRuntime js;
@using WorkoutTracker.DataAccess;
@using WorkoutTracker.Models;
@using WorkoutTracker.Pages

<div class="container-fluid fade-in">    
    @if (DbInitializationComplete)
    {
        <NavMenu DisplayPage="@DisplayPage" HandleUiChange="@HandleUiChange" />
        <div id="contentSpacer" style="height: 5em; width: 100%;"></div>
        <CascadingValue Value="@ShowSpinner">
        <CascadingValue Value="@Collections">
            <Spinner />
            @switch (DisplayPage["activePage"])
            {
                case "about":
                    <About />
                    break;
                case "exercises":
                    <Exercises />
                    break;
                case "export":
                    <Export />
                    break;
                case "import":
                    <Import />
                    break;
                case "metrics":
                    <Metrics />
                    break;
                case "programs":
                    <Programs />
                    break;
                case "routines":
                    <Routines />
                    break;
                case "workout":
                    <Workout />
                    break;
                default:
                    <Workout />
                    break;
            }
        </CascadingValue>
        </CascadingValue>
    }
</div>

@code {
    public Dictionary<string, string> DisplayPage { get; set; } = new Dictionary<string, string>() { { "activePage", "workout" } };
    public Dictionary<string, IndexedDb> Collections { get; set; } = new Dictionary<string, IndexedDb>();
    public bool ShowSpinner { get; set; } = false;
    private bool DbInitializationComplete { get; set; } = false;
    private static List<string> CollectionNames = new List<string>() { "workouts", "programs", "routines", "exercises" };
    private Queue<string> CollectionInitQueue = new Queue<string>(CollectionNames);
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            InitializeFromQueue();
        }
    }

    private void InitializeFromQueue()
    {
        var collectionName = CollectionInitQueue.Dequeue();
        var indexedDb = new IndexedDb(js, collectionName);
        indexedDb.DbInitialized += indexedDb_DbInitialized;
    }

    private async void HandleUiChange()
    {              
        StateHasChanged();
    }

    private async void indexedDb_DbInitialized(object sender, bool Initialized)
    {
        var indexedDb = (IndexedDb)sender;
        Collections.Add(indexedDb.Name, indexedDb);
        if (CollectionInitQueue.Count > 0)
        {
            InitializeFromQueue();
        } 
        else
        {
            DbInitializationComplete = true;
            HandleUiChange();
        }
    }
}