<div id="spinnerContainer" class="fade-in fade-out">
    <div class="spinner position-absolute top-50 start-50 translate-middle fade-in fade-out"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

@code {
    
}
