@using WorkoutTracker.Models;

<div class="col-12">
    <label for="exerciseNameInput" class="form-label">name</label>
    <input type="text" class="form-control" id="exerciseNameInput" placeholder="@Document?.Name" @bind="ChangeDocument.Name" />
</div>
<div class="col-12">
    <label for="notesInput" class="form-label">notes</label>
    <textarea class="form-control" id="notesInput" rows="4" placeholder="@Document?.Notes" @bind="ChangeDocument.Notes" />
</div>
<div class="col-12">
    <label for="weightUnitsInput" class="form-label">weight units</label>
    <select class="form-select" @bind="ChangeDocument.WeightUnits">
        <option value="none">none</option>
        <option value="lbs">lbs</option>
        <option value="kg">kg</option>        
    </select>
</div>

@code {    
    [Parameter]
    public Exercise? Document { get; set; }
    [Parameter]
    public Exercise ChangeDocument { get; set; }
}
