@using WorkoutTracker.Models;

<div class="col-12">
    <label for="nameInput" class="form-label">name</label>
    <input type="text" class="form-control" id="nameInput" placeholder="@Document?.Name" @bind="ChangeDocument.Name"/>
</div>
<div class="col-12">
    <label for="routinesInput" class="form-label">routines</label>
    <input type="text" class="form-control" id="routinesInput" placeholder="" />
</div>

@code {
    [Parameter]
    public Program? Document { get; set; }
    [Parameter]
    public Program ChangeDocument { get; set; }
}
